###### 2021-04-02

# Pandas.Series

In [10]:
import pandas as pd
import numpy as np

## Series.add(other, level=None, fill_value=None, axis=0)
- `Seires + [다른 값]`과 연산이 같음
- 하지만, 하나의 series에 대하여 결측값에 대해 지정한 값을 채워 넣을 수 있다.

In [23]:
series_a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
series_b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])

In [24]:
series_a.add(series_b)

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [31]:
series_a.add(series_b, fill_value=999)  # series_b의 결측치에 999를 대입하여 series_a와 더한다.

a       2.0
b    1000.0
c    1000.0
d    1000.0
e       NaN
dtype: float64

## Series.mul(other, level=None, fill_value=None, axis=0)
- `Series * [다른 값]`과 연산이 같음
- 마찬가지로 하나의 Series에 대하여 결측값에 특정값을 대입할 수 있음

In [33]:
series_a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
series_b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])

In [34]:
series_a.mul(series_b)

a    1.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [35]:
series_a.mul(series_b, fill_value=999)  # series_b에 999값을 대입하여 series_a와 곱함

a      1.0
b    999.0
c    999.0
d    999.0
e      NaN
dtype: float64

## Series.explode()
- 시리즈에 포함된 리스트의 원소만큼 행을 복제 해준다.

In [38]:
s = pd.Series([[1, 2, 3], 'foo', [], [3, 4]])
print(s.explode())

0    [1, 2, 3]
1          foo
2           []
3       [3, 4]
dtype: object
0      1
0      2
0      3
1    foo
2    NaN
3      3
3      4
dtype: object

In [39]:
print(s.explode())

0      1
0      2
0      3
1    foo
2    NaN
3      3
3      4
dtype: object

## df.explode(`칼럼명`)

In [40]:
df = pd.DataFrame({'A': [[1, 2, 3], 'foo', [], [3, 4]], 'B': 1})

In [42]:
print(df)

           A  B
0  [1, 2, 3]  1
1        foo  1
2         []  1
3     [3, 4]  1

In [41]:
print(df.explode('A'))

     A  B
0    1  1
0    2  1
0    3  1
1  foo  1
2  NaN  1
3    3  1
3    4  1